main {
  display: block;
  margin: 10px;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 5px;
}

.cart-page::before {
  content: "\F244";
  font-family: "Bootstrap-icons";
  font-size: 22px;
}
